name: Daily Contribution Booster

on:
  schedule:
    - cron: "0 15 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  auto-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Update heartbeat file
        run: |
          echo "Ping: $(date -u)" >> heartbeat.txt

      - name: Commit and push changes
        run: |
          git config --global user.name "Manidhar"
          git config --global user.email "manidharmanidhar2@gmail.com"
          git add heartbeat.txt
          git commit -m "Automated daily update" || echo "No changes to commit"
          git push
